header
    div(class='app-title')
        h1.main-title Youtube Downloader
    nav.app-navbar
        ul
            li
                a.nav-link(href='/downloader') Downloader
            li
                a.nav-link(href='/download-history') Download History
                   

    div(class='app-menu-toggle')
        img(src="/images/three-dot.svg", alt="expand header")